flask
flask-cors
flask-session
flask-wtf
python-dotenv
supabase
langchain
langchain-core
langchain-openai
pydantic
gunicorn
pandas
openpyxl
python-jose
PyJWT
requests
google-auth-oauthlib
google-auth
pdfplumber
